/* ── Global ── */
:root {
  /* Color */
  --color-brand-whitelabel-primary900: #8632b3;
  --color-brand-whitelabel-primary700: #7c58d0;
  --color-brand-whitelabel-secondary900: #323db3;
  --color-brand-whitelabel-secondary700: #5661dc;
  --color-brand-whitelabel-tertiary900: #0074cc;
  --color-brand-whitelabel-tertiary700: #0090ff;
  --color-brand-whitelabel-variant1: #01875d;
  --color-brand-whitelabel-variant2: #02ca8a;
  --color-brand-whitelabel-variant3: #a30c6f;
  --color-brand-whitelabel-variant4: #ff2e96;
  --color-brand-peugeot-primary900: #006fde;
  --color-brand-whitelabel-variant5: #ffbb00;
  --color-brand-whitelabel-variant6: #8f6900;
  --color-brand-whitelabel-primary900alfa50: #8632b380;
  --color-brand-whitelabel-primary900alfa20: #8632b333;
  --color-brand-whitelabel-primary700alfa50: #7c58d080;
  --color-brand-whitelabel-primary700alfa20: #7c58d033;
  --color-brand-peugeot-primary700: #2e96ff;
  --color-brand-peugeot-secondary900: #00a3e0;
  --color-brand-peugeot-secondary700: #4cc9f9;
  --color-brand-peugeot-tertiary900: #bfdd0b;
  --color-brand-peugeot-tertiary700: #e0e737;
  --color-brand-peugeot-variant1: #0074e8;
  --color-brand-citroen-primary900: #da291c;
  --color-brand-citroen-primary700: #ff3700;
  --color-brand-citroen-secondary900: #57718a;
  --color-brand-citroen-primary700-2: #ff3700;
  --color-brand-citroen-secondary700: #9dc7e0;
  --color-brand-citroen-tertiary900: #3b3938;
  --color-brand-citroen-tertiary700: #e4e2e2;
  --color-brand-citroen-variant: #e4e2e2;
  --color-brand-ds-primary900: #846f66;
  --color-brand-ds-primary700: #9d8c83;
  --color-brand-ds-secondary900: #1a1b1b;
  --color-brand-ds-secondary700: #3f4141;
  --color-brand-ds-tertiary900: #d2c7be;
  --color-brand-ds-tertiary700: #e9e7e1;
  --color-brand-ds-variant1: #215672;
  --color-brand-ds-variant2: #6c8798;
  --color-brand-opel-primary900: #d9e000;
  --color-brand-opel-primary700: #f7ff14;
  --color-brand-opel-secondary900: #8b969c;
  --color-brand-opel-secondary700: #b4bbbf;
  --color-brand-opel-tertiary900: #356997;
  --color-brand-peugeot-primary900alfa50: #006fde80;
  --color-brand-opel-tertiary700: #aecae0;
  --color-brand-opel-variant1: #f04124;
  --color-brand-lancia-primary900: #000000;
  --color-brand-lancia-primary700: #262626;
  --color-brand-lancia-secondary900: #002f33;
  --color-brand-lancia-secondary700: #007681;
  --color-brand-lancia-tertiary900: #292b35;
  --color-brand-lancia-tertiary700: #425360;
  --color-brand-lancia-variant1: #707070;
  --color-brand-lancia-variant2: #dcbea0;
  --color-brand-fiat-primary900: #960012;
  --color-brand-fiat-primary700: #cd131e;
  --color-brand-fiat-secondary900: #292b35;
  --color-brand-fiat-secondary700: #494d5f;
  --color-brand-fiat-tertiary900: #113654;
  --color-brand-fiat-tertiary700: #2c818c;
  --color-brand-jeep-primary900: #0f2623;
  --color-brand-fiat-variant1: #f48657;
  --color-brand-fiat-variant2: #4aa769;
  --color-brand-fiat-variant3: #b3d7d8;
  --color-brand-fiat-variant4: #ffda57;
  --color-brand-fiat-variant5: #4c8793;
  --color-brand-fiat-variant6: #0068a5;
  --color-brand-jeep-primary700: #1e4544;
  --color-brand-jeep-secondary900: #3a675b;
  --color-brand-jeep-secondary700: #487f70;
  --color-brand-jeep-tertiary900: #bababd;
  --color-brand-jeep-tertiary700: #bababd;
  --color-brand-jeep-variant1: #bababd;
  --color-brand-jeep-primary900alfa50: #0f262380;
  --color-brand-jeep-primary900alfa20: #0f262333;
  --color-brand-jeep-primary700alfa50: #1e454480;
  --color-brand-alfaromeo-primary900: #ba0816;
  --color-brand-alfaromeo-primary700: #fb2a36;
  --color-brand-jeep-primary700alfa20: #1e454433;
  --color-brand-alfaromeo-secondary900: #1c1f2a;
  --color-brand-alfaromeo-secondary700: #292b35;
  --color-brand-alfaromeo-tertiary900: #38393d;
  --color-brand-alfaromeo-tertiary700: #5d5e65;
  --color-brand-abarth-primary900: #821010;
  --color-brand-alfaromeo-variant1: #035642;
  --color-brand-abarth-primary700: #e72020;
  --color-brand-abarth-secondary900: #b29500;
  --color-brand-abarth-secondary700: #ffd500;
  --color-brand-abarth-tertiary900: #b2c710;
  --color-brand-abarth-tertiary700: #daef33;
  --color-brand-abarth-variant1: #4d9fe4;
  --color-neutral-black: #000000;
  --color-neutral-alfa-dark-900: #000000e5;
  --color-neutral-800: #262626;
  --color-neutral-alfa-dark-800: #000000cc;
  --color-neutral-alfa-dark-700: #000000b2;
  --color-neutral-700: #404040;
  --color-neutral-600: #707070;
  --color-neutral-alfa-dark-600: #00000099;
  --color-neutral-500: #a1a1a1;
  --color-neutral-alfa-dark-500: #00000080;
  --color-neutral-alfa-dark-400: #00000080;
  --color-neutral-400: #c9c9c9;
  --color-neutral-alfa-dark-300: #00000066;
  --color-neutral-300: #e3e3e3;
  --color-neutral-alfa-dark-200: #0000004d;
  --color-neutral-200: #f1f0f0;
  --color-neutral-alfa-dark-100: #00000033;
  --color-neutral-100: #f5f5f5;
  --color-neutral-white: #ffffff;
  --color-neutral-alfa-dark-50: #0000001a;
  --color-neutral-alfa-dark-0: #00000000;
  --color-status-900: #cc1400;
  --color-status-900-alfa10: #cc14001a;
  --color-status-700: #ff4a4a;
  --color-status-700-alfa10: #ff4a4a1a;
  --color-status-600: #ba4e00;
  --color-status-600-alfa10: #ba4e001a;
  --color-status-500: #ff9a26;
  --color-status-500-alfa10: #ff9a261a;
  --color-status-400: #018210;
  --color-status-400-alfa10: #0182101a;
  --color-status-300: #0acc6b;
  --color-status-300-alfa10: #0acc6b1a;
  --color-status-200: #0064cf;
  --color-brand-abarth-primary900alfa50: #82101080;
  --color-brand-abarth-primary900alfa20: #82101033;
  --color-brand-abarth-primary700alfa50: #e7202080;
  --color-brand-abarth-primary700alfa20: #e7202033;
  --color-brand-vauxhall-primary900: #990033;
  --color-brand-vauxhall-primary700: #cb0044;
  --color-brand-vauxhall-secondary900: #002a42;
  --color-brand-vauxhall-secondary700: #356997;
  --color-brand-vauxhall-tertiary900: #004b75;
  --color-brand-vauxhall-tertiary700: #aecae0;
  --color-brand-vauxhall-variant1: #aecae0;
  --color-brand-vauxhall-primary900alfa50: #99003380;
  --color-brand-vauxhall-primary900alfa20: #99003333;
  --color-brand-vauxhall-primary700alfa50: #cb004480;
  --color-brand-vauxhall-primary700alfa20: #cb004433;
  --color-neutral-alfa-white-900: #ffffffe5;
  --color-neutral-alfa-white-800: #ffffffcc;
  --color-neutral-alfa-white-700: #ffffffb2;
  --color-neutral-alfa-white-600: #ffffff99;
  --color-neutral-alfa-white-500: #ffffff80;
  --color-neutral-alfa-white-400: #ffffff80;
  --color-neutral-alfa-white-300: #ffffff66;
  --color-neutral-alfa-white-200: #ffffff4d;
  --color-neutral-alfa-white-100: #ffffff33;
  --color-neutral-alfa-white-50: #ffffff1a;
  --color-neutral-alfa-white-0: #ffffff00;
  --color-brand-peugeot-primary900alfa20: #006fde33;
  --color-brand-peugeot-primary700alfa50: #2e96ff80;
  --color-brand-peugeot-primary700alfa20: #2e96ff33;
  --color-brand-citroen-primary900alfa50: #da291c80;
  --color-brand-citroen-primary900alfa20: #da291c33;
  --color-brand-citroen-primary700alfa50: #ff370080;
  --color-brand-citroen-primary700alfa20: #ff370033;
  --color-brand-ds-primary900alfa50: #846f6680;
  --color-brand-ds-primary900alfa20: #846f6633;
  --color-brand-ds-primary700alfa50: #9d8c8380;
  --color-brand-ds-primary700alfa20: #9d8c8333;
  --color-brand-opel-primary900alfa50: #d9e00080;
  --color-brand-opel-primary900alfa20: #d9e00033;
  --color-brand-opel-primary700alfa50: #f7ff1480;
  --color-brand-opel-primary700alfa20: #f7ff1433;
  --color-brand-lancia-primary900alfa50: #00000080;
  --color-brand-lancia-primary900alfa20: #00000033;
  --color-brand-lancia-primary700alfa50: #26262680;
  --color-brand-lancia-primary700alfa20: #26262633;
  --color-brand-fiat-primary900alfa50: #96001280;
  --color-brand-fiat-primary900alfa20: #96001233;
  --color-brand-fiat-primary700alfa50: #cd131e80;
  --color-brand-fiat-primary700alfa20: #cd131e33;
  --color-brand-alfaromeo-primary900alfa50: #ba081680;
  --color-brand-alfaromeo-primary900alfa20: #ba081633;
  --color-brand-alfaromeo-primary700alfa50: #fb2a3680;
  --color-brand-alfaromeo-primary700alfa20: #fb2a3633;
  --color-status-200-alfa10: #0064cf1a;

  /* Typography */
  --typography-font-family-white-label: Neue montreal;
  --typography-font-family-peugeot: Peugeot New;
  --typography-font-family-citroen: Citroen Type;
  --typography-font-family-ds: DS Automobiles;
  --typography-font-family-opel: Opel Next;
  --typography-font-family-lancia: Montserrat;
  --typography-font-family-fiat: Poppins;
  --typography-font-family-jeep: Roboto;
  --typography-font-family-alfa-romeo: Sequel 100;
  --typography-font-family-abarth: Roboto;
  --typography-font-family-vauxhall: Opel Next;
  --typography-font-family-transversal: StellantisUI;
  --typography-font-weight-200: Light;
  --typography-font-weight-400: Regular;
  --typography-font-weight-800: Bold;
  --typography-font-weight-strikethrough: Strikethrough;
  --typography-font-size-12: 12px;
  --typography-font-size-14: 14px;
  --typography-font-size-16: 16px;
  --typography-font-size-20: 20px;
  --typography-font-size-24: 24px;
  --typography-font-size-28: 28px;
  --typography-font-size-32: 32px;
  --typography-font-size-36: 36px;
  --typography-font-size-44: 44px;
  --typography-font-size-48: 48px;
  --typography-font-size-52: 52px;
  --typography-font-size-60: 60px;
  --typography-font-height-16: 16px;
  --typography-font-height-20: 20px;
  --typography-font-height-24: 24px;
  --typography-font-height-28: 28px;
  --typography-font-height-32: 32px;
  --typography-font-height-36: 36px;
  --typography-font-height-40: 40px;
  --typography-font-height-44: 44px;
  --typography-font-height-52: 52px;
  --typography-font-height-56: 56px;
  --typography-font-height-60: 60px;
  --typography-font-height-68: 68px;

  /* Border */
  --border-border-radius-0: 0px;
  --border-border-radius-4: 4px;
  --border-border-radius-12: 12px;
  --border-border-radius-20: 20px;
  --border-border-radius-24: 24px;
  --border-border-radius-32: 32px;
  --border-border-radius-48: 48px;
  --border-border-radius-160: 160px;
  --border-border-width-0: 0px;
  --border-border-width-1: 1px;
  --border-border-width-2: 2px;
  --border-border-width-3: 3px;

  /* letter_spacing */
  --letter-spacing-0: 0px;

  /* opacity */
  --opacity-8: 8px;
  --opacity-10: 10px;
  --opacity-16: 16px;
  --opacity-20: 20px;
  --opacity-24: 24px;
  --opacity-50: 50px;
  --opacity-80: 80px;

  /* dimension */
  --dimension-blur-8: 8px;
  --dimension-blur-40: 40px;
}